//variables.....
$colors:(
"bg-color":blue,
"heading-color":white,
"text-color":yellow,
);
$bg-color:blue;
$text-color:yellow;
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 900,
);
$mobile:800px;